<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>GoCow</title>

    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{style/common.css}">
    <link rel="stylesheet" th:href="@{style/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{style/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{style/header.css}"/>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="center-header-block">
        <h1>GoCow</h1>
        <div>Программное средство для бла бла бла бла бла</div>
    </div>
    <div class="right-header-block">
        <a class="header-btn" href="#">
            Авторизация
        </a>
        <a class="header-btn" href="#">
            Регистрация
        </a>
    </div>
</header>
<div class="w-75 block-center">
    BODY 75%
</div>
<footer class="w-100">

</footer>

<script th:src="@{script/TweenLite.min.js}"></script>
<script th:src="@{script/EasePack.min.js}"></script>
<script th:src="@{script/rAF.js}"></script>
<script th:src="@{script/demo-1.js}"></script>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>